.main-content {
  margin-top: 9vh;
  padding: 2rem;
  text-align: center;
  height: 80vh;
  padding-bottom: 0%;
}
.app-b {
background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 91vh;
  margin-top: 9vh;
}

.logo-1 {
  width: 150px;
  height: auto;
  transition: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .logo-1 {
    width: 150px;
  }
}

@media (min-width: 1200px) {
  .logo-1 {
    width: 150px;
  }
}

.tit{
  font-family: 'Great Vibes', cursive;
  margin: 0%;
  font-size: clamp(60px, 6vw, 150px);
  color: rgba(27, 87, 93);
}

.slogan{
  font-size: clamp(22px, 2vw, 30px);
  font-family: 'Playfair Display', serif;



}

.know-1{
  border-radius: 6px;
  padding:5px 10px;
  background-color: rgba(27, 87, 93);
  color:#FAF3E0;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 2vh;
}

.know-1:hover{
  background-color: rgb(14, 48, 51);
}

.know-1:active{
  background-color:rgba(27, 87, 93);;
}
