:root{
  margin:0%

}

body,html{
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
    background: linear-gradient(to bottom, #FAF3E0, #F5EBDD);
}

html, body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

img{
  -webkit-user-drag: none;
}

a{
  -webkit-user-drag: none;
}